<section class="section">
  <div class="container">
    <h2 class="title is-3">Editar mi perfil</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'box' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- Email -->
      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control">
          <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <!-- Nombre -->
      <div class="field">
        <%= f.label :nombre, class: "label" %>
        <div class="control">
          <%= f.text_field :nombre, class: "input" %>
        </div>
      </div>

      <!-- Teléfono -->
      <div class="field">
        <%= f.label :phone, "Teléfono", class: "label" %>
        <div class="control">
          <%= f.text_field :phone, class: "input" %>
        </div>
      </div>

      <!-- Imagen de perfil -->
      <div class="field">
        <%= f.label :profile_image, "Actualizar imagen de perfil", class: "label" %>
        <div class="control">
          <div class="file has-name is-fullwidth">
            <label class="file-label">
              <%= f.file_field :profile_image, class: "file-input", onchange: "document.getElementById('file-name').textContent = this.files[0].name" %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Escoge un archivo…
                </span>
              </span>
              <span id="file-name" class="file-name">
                Ningún archivo seleccionado
              </span>
            </label>
          </div>
          <% if resource.profile_image.attached? %>
            <figure class="image is-128x128 mt-4">
              <%= image_tag resource.profile_image, alt: "Imagen de Perfil", class: "is-rounded" %>
            </figure>
          <% end %>
        </div>
      </div>

      <!-- Contraseña -->
      <div class="field">
        <%= f.label :password, "Nueva contraseña", class: "label" %> <i>(deja en blanco si no deseas cambiarla)</i>
        <div class="control">
          <%= f.password_field :password, class: "input", autocomplete: "new-password" %>
        </div>
        <% if @minimum_password_length %>
          <p class="help">Mínimo de <%= @minimum_password_length %> caracteres</p>
        <% end %>
      </div>

      <!-- Confirmación de contraseña -->
      <div class="field">
        <%= f.label :password_confirmation, "Confirma tu nueva contraseña", class: "label" %>
        <div class="control">
          <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
        </div>
      </div>

      <!-- Contraseña actual -->
      <div class="field">
        <%= f.label :current_password, "Contraseña actual", class: "label" %> <i>(necesaria para guardar cambios)</i>
        <div class="control">
          <%= f.password_field :current_password, class: "input", autocomplete: "current-password" %>
        </div>
      </div>

      <!-- Botón de actualización -->
      <div class="field is-grouped">
        <div class="control">
          <%= f.submit "Actualizar", class: "button is-primary" %>
        </div>
      </div>
    <% end %>

    <!-- Cancelar cuenta -->
    <div class="box mt-5">
      <h3 class="title is-4">Cancelar mi Cuenta</h3>
      <div class="field is-grouped">
        <div class="control">
          <%= button_to "Cancelar mi cuenta", registration_path(resource_name), method: :delete, class: "button is-danger" %>
        </div>
        <div class="control">
          <%= link_to "Volver", :back, class: "button is-link" %>
        </div>
      </div>
    </div>
  </div>
</section>
