<%= form_with(model: pet, local: true, class: "box") do |form| %>
  <% if pet.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>Errores</p>
      </div>
      <div class="message-body">
        <h2><%= pluralize(pet.errors.count, "error") %> impidieron guardar esta mascota:</h2>
        <ul>
          <% pet.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <div class="field">
    <%= form.label :name, "Nombre de la mascota", class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :nickname, "Apodo", class: "label" %>
    <div class="control">
      <%= form.text_field :nickname, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.check_box :is_nickname, id: "is_nickname" %>
      <label for="is_nickname">¿Es un apodo?</label>
    </div>
  </div>

  <div class="field">
    <%= form.label :pet_type_id, "Tipo de Mascota", class: "label" %>
    <div class="control has-icons-left">
      <div class="select is-fullwidth">
        <%= form.collection_select :pet_type_id, PetType.all, :id, :name %>
      </div>
      <span class="icon is-left">
        <i class="fas fa-paw"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, "Descripción", class: "label" %>
    <div class="control">
      <%= form.text_area :description, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :found_on, "Fecha en que fue encontrada", class: "label" %>
    <div class="control">
      <%= form.date_field :found_on, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :city_id, "Ciudad", class: "label" %>
    <div class="control has-icons-left">
      <div class="select is-fullwidth">
        <%= form.collection_select :city_id, City.all, :id, :name %>
      </div>
      <span class="icon is-left">
        <i class="fas fa-city"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= form.label :quality_ids, "Cualidades", class: "label" %>
    <div class="control">
      <div class="select is-multiple">
        <%= form.collection_select :quality_ids, Quality.all, :id, :name, { include_hidden: false }, { multiple: true } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :photos, "Fotos de la mascota", class: "label" %>
    <div class="file has-name is-fullwidth">
      <label class="file-label">
        <%= form.file_field :photos, multiple: true, class: "file-input" %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Selecciona imágenes…
          </span>
        </span>
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Guardar Mascota", class: "button is-primary" %>
    </div>
  </div>
<% end %>
